#s-5269f4d6-29ab-4edd-9ddd-30effe7f496a #s-Rich_text_5 {
-ms-transform: rotate(0.0deg);
}
#s-5269f4d6-29ab-4edd-9ddd-30effe7f496a #s-Rich_text_4 {
-ms-transform: rotate(0.0deg);
}
#s-5269f4d6-29ab-4edd-9ddd-30effe7f496a #s-Image_1 {
-ms-transform: rotate(0.0deg);
}
#s-5269f4d6-29ab-4edd-9ddd-30effe7f496a #s-Rectangle_2 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #404040;
border-radius: 5px 5px 5px 5px;
padding-top: 3px;
padding-right: 3px;
padding-bottom: 3px;
padding-left: 3px;
width: 258px;
height: 27px;
-ms-transform: rotate(0.0deg);
}
#s-5269f4d6-29ab-4edd-9ddd-30effe7f496a #s-Label_3 {
-ms-transform: rotate(0.0deg);
}
#s-5269f4d6-29ab-4edd-9ddd-30effe7f496a #s-Label_4 {
-ms-transform: rotate(0.0deg);
}
.ui-page {
overflow-x: hidden;
}
#s-5269f4d6-29ab-4edd-9ddd-30effe7f496a > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}