#s-e07f5893-9bd2-45e8-802b-d45d811de481 {
background-color: transparent;
background-image: none;
min-width: 320px;
min-height: 568px;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 > #alignmentBox {
position: relative;
width: 100%;
height: 100%;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Main {
position: absolute;
top: 19px;
left: 0px;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Lateral_panel {
width: 320px;
height: 549px;
background-color: transparent;
background-image: none;
box-shadow: none;
overflow-x: hidden;
overflow-y: hidden;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Lateral_panel .verticalalign {
vertical-align: top;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Rich_text_3 {
position: absolute;
top: 0px;
left: 0px;
width: 320px;
height: 44px;
background-color: #F6F5F1;
background-image: none;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #D8D8D6;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 20px;
font-size: 11pt;
font-family: Arial,Arial;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Rich_text_3 .valign {
vertical-align: middle;
text-align: center;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Rich_text_3 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Arial,Arial;
font-size: 11pt;
font-style: normal;
font-weight: 400;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Rich_text_3 span#rtr-s-Rich_text_3_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Arial,Arial;
font-size: 11pt;
font-style: normal;
font-weight: 400;
line-height: 0px;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Label_3 {
position: absolute;
top: 9px;
left: 80px;
width: 135px;
height: 29px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
color: #333333;
text-align: center;
text-decoration: none;
font-family: Arial,Arial;
font-size: 14pt;
font-style: normal;
font-weight: 700;
line-height: 14pt;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Label_3 .valign {
vertical-align: middle;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Image_3 {
position: absolute;
top: 15px;
left: 10px;
width: 17px;
height: 16px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Image_map_1 {
position: absolute;
top: 1px;
left: 0px;
width: 53px;
height: 46px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Group_1 {
position: absolute;
top: 45px;
left: 0px;
width: 321px;
height: 504px;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Rich_text_16 {
position: absolute;
top: 0px;
left: 1px;
width: 320px;
height: 504px;
background-color: #E5E5E5;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 20px;
font-size: 11pt;
font-family: Arial,Arial;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Rich_text_16 .valign {
vertical-align: middle;
text-align: center;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Rich_text_16 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Arial,Arial;
font-size: 11pt;
font-style: normal;
font-weight: 400;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Rich_text_16 span#rtr-s-Rich_text_16_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Arial,Arial;
font-size: 11pt;
font-style: normal;
font-weight: 400;
line-height: 0px;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Label_31 {
position: absolute;
top: 9px;
left: 18px;
width: 139px;
height: 29px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10pt;
line-height: 10pt;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Label_31 .valign {
vertical-align: middle;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Dynamic_Panel_2 {
position: absolute;
top: 43px;
left: 0px;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Panel_3 {
width: 304px;
height: 85px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #D8D8D6;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #D8D8D6;
border-left-width: 16px;
border-left-style: solid;
border-left-color: #FFFFFF;
box-shadow: none;
overflow-x: hidden;
overflow-y: hidden;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Panel_3 .verticalalign {
vertical-align: top;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Dynamic_Panel_3 {
position: absolute;
top: 185px;
left: 0px;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Panel_4 {
width: 304px;
height: 45px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #D8D8D6;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #D8D8D6;
border-left-width: 16px;
border-left-style: solid;
border-left-color: #FFFFFF;
box-shadow: none;
overflow-x: hidden;
overflow-y: hidden;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Panel_4 .verticalalign {
vertical-align: top;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Group_31 {
width: 304px;
height: 43px;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Label_51 {
position: absolute;
top: 0px;
left: 0px;
width: 304px;
height: 42px;
background-color: transparent;
background-image: none;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #D8D8D6;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 12pt;
line-height: 12pt;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Label_51 .valign {
vertical-align: middle;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Image_62 {
position: absolute;
top: 14px;
left: 276px;
width: 9px;
height: 13px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Label_40 {
position: absolute;
top: 152px;
left: 18px;
width: 139px;
height: 29px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10pt;
line-height: 10pt;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Label_40 .valign {
vertical-align: middle;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Group_32 {
position: absolute;
top: 44px;
left: 12px;
width: 306px;
height: 43px;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Label_52 {
position: absolute;
top: 0px;
left: 0px;
width: 306px;
height: 42px;
background-color: transparent;
background-image: none;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #D8D8D6;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 12pt;
line-height: 12pt;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Label_52 .valign {
vertical-align: middle;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Image_63 {
position: absolute;
top: 14px;
left: 279px;
width: 9px;
height: 13px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Group_34 {
position: absolute;
top: 87px;
left: 11px;
width: 308px;
height: 43px;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Label_54 {
position: absolute;
top: 0px;
left: 0px;
width: 308px;
height: 42px;
background-color: transparent;
background-image: none;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #D8D8D6;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 12pt;
line-height: 12pt;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Label_54 .valign {
vertical-align: middle;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Image_65 {
position: absolute;
top: 14px;
left: 280px;
width: 9px;
height: 13px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Rectangle_2 {
position: absolute;
top: 313px;
left: 10px;
width: 290px;
height: 27px;
background-color: #FD676A;
background-image: none;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #404040;
border-radius: 5px 5px 5px 5px;
padding-top: 3px;
padding-right: 3px;
padding-bottom: 3px;
padding-left: 3px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 20px;
font-size: 11pt;
font-family: Arial,Arial;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Rectangle_2 .valign {
vertical-align: middle;
text-align: center;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Rectangle_2 span {
color: #FFFFFF;
text-align: center;
text-decoration: none;
font-family: Arial,Arial;
font-size: 11pt;
font-style: normal;
font-weight: 400;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
color: #FFFFFF;
text-align: center;
text-decoration: none;
font-family: Arial,Arial;
font-size: 11pt;
font-style: normal;
font-weight: 400;
line-height: 0px;
}
.ui-page {
overflow-x: hidden;
}
#s-e07f5893-9bd2-45e8-802b-d45d811de481 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}